<?xml version="1.0" encoding="UTF-8"?>
<solver>
  <environmentMode>PRODUCTION</environmentMode>

  <!-- Domain model configuration -->
  <solutionClass>org.iypt.planner.domain.Tournament</solutionClass>
  <planningEntityClass>org.iypt.planner.domain.Seat</planningEntityClass>

  <!-- Score configuration -->
  <scoreDirectorFactory>
    <scoreDefinitionType>HARD_AND_SOFT</scoreDefinitionType>
    <!--<simpleScoreCalculatorClass>org.drools.planner.examples.cloudbalancing.solver.score.CloudBalancingSimpleScoreCalculator</simpleScoreCalculatorClass>-->
    <!--<incrementalScoreCalculatorClass>org.drools.planner.examples.cloudbalancing.solver.score.CloudBalancingIncrementalScoreCalculator</incrementalScoreCalculatorClass>-->
    <scoreDrl>/org/iypt/planner/solver/score_rules.drl</scoreDrl>
  </scoreDirectorFactory>

  <!-- Optimization algorithms configuration -->
  <termination>
  </termination>
  <constructionHeuristic>
    <constructionHeuristicType>FIRST_FIT</constructionHeuristicType>
    <!--<constructionHeuristicPickEarlyType>FIRST_LAST_STEP_SCORE_EQUAL_OR_IMPROVING</constructionHeuristicPickEarlyType>-->
  </constructionHeuristic>
  <localSearch>
    <termination>
      <terminationCompositionStyle>OR</terminationCompositionStyle>
      <maximumSecondsSpend>60</maximumSecondsSpend>
      <maximumUnimprovedStepCount>500</maximumUnimprovedStepCount>
      <scoreAttained>0hard/0soft</scoreAttained>
    </termination>
    <unionMoveSelector>
      <changeMoveSelector>
        <fixedProbabilityWeight>1.0</fixedProbabilityWeight>
      </changeMoveSelector>
      <swapMoveSelector>
        <fixedProbabilityWeight>4.0</fixedProbabilityWeight>
      </swapMoveSelector>
    </unionMoveSelector>
    <acceptor>
      <planningEntityTabuSize>7</planningEntityTabuSize>
    </acceptor>
    <forager>
      <minimalAcceptedSelection>10000</minimalAcceptedSelection>
      <pickEarlyType>FIRST_BEST_SCORE_IMPROVING</pickEarlyType>
    </forager>
  </localSearch>
</solver>

